/* Some default styles to make each box visible */


/* Colours for each box */


/* Flexbox is written here */
/* CSS Grid */

#gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    border: 1px solid black;

}

.gridItem {
    border: 1px solid lightgray;
    background-color: #eee;
}