/* Some default styles to make each box visible */


/* Colours for each box */


/* Flexbox is written here */
/* CSS Grid */

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 1px solid black;

}

.gridCell {
    box-sizing: border-box;
    border: 1px solid lightgray;
}