body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    background-color: white;
    justify-self: center;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

h1 {    
    text-align: center;
}

.gridCell {
    box-sizing: border-box;
    border: 1px solid lightgray;
}

.choices {
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.choices button {
    font-size: 1rem;
    min-width: 100px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(200, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(200, 100%,80%);
}
